[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biblionetwork"]
	path = biblionetwork
	url = https://github.com/agoutsmedt/biblionetwork
